<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Config::config">
                <resource id="Softcode_Gls::config" title="Softcode GLS Configuration"/>
            </resource>
        </resource>
    </resources>
</acl>
